<footer class="footer mt-auto py-5 bg-body-tertiary text-dark">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center gap-2">
      <div>
        <h2>Ivytech College Courses</h2>
         <p>​© 2024 pirince liyo and Tre B, Inc. All rights reserved.​</p>
      </div>
      <div>
        <p>123 Demo Street</p>
        <p>Waterloo, Iowa 50702</p>
        ​
      </div>
      <div class="d-md-block text-center">
        <div>
          <a
            href="#"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >
            <span>Twitter </span>
            <i class="bi bi-twitter text-dark mx-1"> </i>
          </a>
        </div>
        <div>
          <a
            href="#"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >
            <span>Facebook </span>
            <i class="bi bi-facebook text-dark mx-1"> </i>
          </a>
        </div>
        <div>
          <a
            href="#"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >
            <span>Instagram </span>
            <i class="bi bi-instagram text-dark mx-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
