<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOb1N01OmHHEVfJ2YkdaWEwGwHrDvBAW4KBPNF3uE_kA&s"
        alt="ivytech"
        width="30"
        height="24"
      />
    </a>
    <a class="navbar-brand" href="#">Ivytech College Courses</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addcourse">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher">Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Student Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
