<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <!-- Showcase -->
    <section
      class="bg-dark text-light p-5 p-lg-2 pt-lg-5 pt-sm-5 text-center text-sm-start bbg"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between g-4">
          <div class="px-2">
            <h1>Update <span class="text-warning"> courses </span></h1>
            <p class="lead my-4">
              you can update all the courses that you teach here and it is going
              to show in student courses list for them add if they want to take
              your courses
            </p>
          </div>
          <img
            class="img-fluid w-50 d-none d-md-block px-2 rounded"
            src="https://www.theasianschool.net/blog/wp-content/uploads/2023/01/Books-Help-To-Get-More-Focus.jpg"
            alt="community picture"
          />
        </div>
      </div>
    </section>
    <section class="pt-2">
      <div class="container pt-5">
        <h1 class="border-bottom">Update Courses</h1>
        <div class="create-blog content">
          <form action="/courses/:id/updatecourse" method="PUT">
            <label for="name">Course Name:</label>
            <input type="text" id="name" name="name" required />
            <label for="subject">Course Subject:</label>
            <input type="text" id="subject" name="subject" required />
            <label for="credit">Course Credit:</label>
            <input type="number" id="credit" name="credit" required />
            <label for="credit">Course Description:</label>
            <textarea
              type="text"
              id="description"
              name="description"
              required
            ></textarea>
            <button class="rounded btn-secondary" type="submit">Update</button>
          </form>
        </div>

        <!-- Your content goes here -->
      </div>
    </section>

    <%- include('../partials/footer') %> <%- include('../partials/script') %>
  </body>
</html>
